HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr


mvnw.cmd
mvnw
/spring-mongo-repository/mvnw
/spring-mongo-repository/mvnw.cmd
/spring-mongo-repository/.mvn
/spring-mongo-repository/spring-mongo-repository.iml


/spring-mongo-template/mvnw
/spring-mongo-template/mvnw.cmd
/spring-mongo-template/.mvn
/spring-mongo-template/spring-mongo-repository.iml

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
